Ingest/template/ingest_STRING_raw.json
{"flowContents":{"identifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","instanceIdentifier":"41e01675-019e-1000-8c70-bec70965e8c6","name":"STRING_HomoSapien_Ingest","comments":"","position":{"x":48.0,"y":104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0f654f01-627e-3af1-8d80-81ea84323d32","instanceIdentifier":"421a993e-019e-1000-a449-b94aa6a4013a","name":"Put STRING File Index To HDFS","comments":"","position":{"x":1200.0,"y":88.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.1"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/hadoop/etc/hadoop/core-site.xml,/opt/hadoop/etc/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"${hdfs.metadata.dir}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"f3a1afa7-0db8-3bb0-9ad1-56881ec1d444","instanceIdentifier":"41e06fca-019e-1000-e309-807a85c77079","name":"Generate STRING Download Manifest","comments":"","position":{"x":-640.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"[\n  {\n    \"dataset\": \"links\",\n    \"tax_id\": \"9606\",\n    \"species\": \"Homo sapiens\",\n    \"string_version\": \"12.0\",\n    \"url\": \"https://stringdb-downloads.org/download/protein.links.v12.0/9606.protein.links.v12.0.txt.gz\",\n    \"filename\": \"9606.protein.links.v12.0.txt.gz\",\n    \"hdfs_subdir\": \"links\",\n    \"description\": \"STRING Homo sapiens protein interaction links\"\n  },\n  {\n    \"dataset\": \"aliases\",\n    \"tax_id\": \"9606\",\n    \"species\": \"Homo sapiens\",\n    \"string_version\": \"12.0\",\n    \"url\": \"https://stringdb-downloads.org/download/protein.aliases.v12.0/9606.protein.aliases.v12.0.txt.gz\",\n    \"filename\": \"9606.protein.aliases.v12.0.txt.gz\",\n    \"hdfs_subdir\": \"aliases\",\n    \"description\": \"STRING Homo sapiens protein aliases\"\n  },\n  {\n    \"dataset\": \"details\",\n    \"tax_id\": \"9606\",\n    \"species\": \"Homo sapiens\",\n    \"string_version\": \"12.0\",\n    \"url\": \"https://stringdb-downloads.org/download/protein.info.v12.0/9606.protein.info.v12.0.txt.gz\",\n    \"filename\": \"9606.protein.info.v12.0.txt.gz\",\n    \"hdfs_subdir\": \"details\",\n    \"description\": \"STRING Homo sapiens protein info and descriptions\"\n  }\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 0 2 ? * SUN *","schedulingStrategy":"CRON_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"0f55f146-4269-3116-9f94-8d928c4c65d5","instanceIdentifier":"421807b0-019e-1000-d0df-a6d6ebb61d31","name":"Set Metadata Filename","comments":"","position":{"x":1208.0,"y":296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"filename":"${dataset}_status.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"27342553-d0c6-3651-9045-e3f378952283","instanceIdentifier":"437262a5-019e-1000-136c-b73770bcbd4b","name":"Set STRING Error Metadata","comments":"","position":{"x":16.0,"y":-400.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"filename":"${dataset}_error_${now():format(\"yyyyMMddHHmmssSSS\")}.json","ingest.finished_at":"${now():format(\"yyyy-MM-dd HH:mm:ss\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"ingest.status":"ERROR"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"ingest.finished_at":{"name":"ingest.finished_at","displayName":"ingest.finished_at","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"ingest.status":{"name":"ingest.status","displayName":"ingest.status","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"ca85449e-2a0c-3890-a15e-0e36e9b03409","instanceIdentifier":"43726460-019e-1000-91d6-3a192b0a7295","name":"Build STRING Error JSON","comments":"","position":{"x":8.0,"y":-632.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"dataset, tax_id, species, string_version, download.url, target.filename, hdfs.raw.dir, hdfs.error.dir, description, source.system, ingest.layer, ingest.status, ingest.finished_at, invokehttp.status.code, invokehttp.status.message, invokehttp.java.exception.class, invokehttp.java.exception.message, filename","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"b5ac6347-aafe-3295-a535-f2fde55da7b3","instanceIdentifier":"41f6a388-019e-1000-322e-b60c9c4a12fb","name":"Check HTTP Status","comments":"","position":{"x":616.0,"y":-400.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Routing Strategy":"Route to Property name","http_not_200":"${invokehttp.status.code:equals(\"200\"):not()}","http_200":"${invokehttp.status.code:equals(\"200\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"http_not_200":{"name":"http_not_200","displayName":"http_not_200","identifiesControllerService":false,"sensitive":false},"http_200":{"name":"http_200","displayName":"http_200","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"907f5e79-5414-3f4f-a172-3db6a5600793","instanceIdentifier":"41e67f83-019e-1000-3a8e-cbf7a9241c0f","name":"Split STRING Manifest Rows","comments":"","position":{"x":-640.0,"y":64.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"3b11617f-04f6-3624-b65f-0e225132c2f3","instanceIdentifier":"41ef73b9-019e-1000-1528-f072d19eda0d","name":"Download STRING File","comments":"","position":{"x":16.0,"y":64.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"60 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${download.url}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"60 mins","Socket Write Timeout":"60 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-string-ingest/1.0"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"897fde51-d365-3efb-a664-712f9244732d","instanceIdentifier":"41f810ac-019e-1000-b6e2-5a149de540a9","name":"Set Final STRING Filename","comments":"","position":{"x":616.0,"y":-168.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"filename":"${target.filename}","ingest.finished_at":"${now():format(\"yyyy-MM-dd HH:mm:ss\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","hdfs.full.path":"${hdfs.raw.dir}/${target.filename}","Stateful Variables Initial Value":null,"ingest.status":"SUCCESS"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"ingest.finished_at":{"name":"ingest.finished_at","displayName":"ingest.finished_at","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"hdfs.full.path":{"name":"hdfs.full.path","displayName":"hdfs.full.path","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"ingest.status":{"name":"ingest.status","displayName":"ingest.status","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"8a0fdbdd-8863-3bd0-9175-dc9080ddf67a","instanceIdentifier":"41f9e939-019e-1000-ae3b-947a1d3f2ce5","name":"Put STRING Raw File To HDFS","comments":"","position":{"x":616.0,"y":88.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.1"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/hadoop/etc/hadoop/core-site.xml,/opt/hadoop/etc/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"${hdfs.raw.dir}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"70ca871c-2f04-3f31-afd8-4e10f776bf90","instanceIdentifier":"41ec5a89-019e-1000-1151-1db6a26eac58","name":"Set STRING HDFS Paths","comments":"","position":{"x":16.0,"y":280.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"ingest.layer":"raw","Delete Attributes Expression":null,"filename":"${target.filename}","hdfs.error.dir":"/drugtarget/data/raw/STRING/metadata/error/run_date=${now():format(\"yyyy-MM-dd\")}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","hdfs.raw.dir":"/drugtarget/data/raw/STRING/${hdfs.subdir}/run_date=${now():format(\"yyyy-MM-dd\")}","source.system":"STRING","hdfs.metadata.dir":"/drugtarget/data/raw/STRING/metadata/file_index/run_date=${now():format(\"yyyy-MM-dd\")}","run.date":"${now():format(\"yyyy-MM-dd\")}","Stateful Variables Initial Value":null,"hdfs.raw.base":"/drugtarget/data/raw/STRING"},"propertyDescriptors":{"ingest.layer":{"name":"ingest.layer","displayName":"ingest.layer","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"hdfs.error.dir":{"name":"hdfs.error.dir","displayName":"hdfs.error.dir","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"hdfs.raw.dir":{"name":"hdfs.raw.dir","displayName":"hdfs.raw.dir","identifiesControllerService":false,"sensitive":false},"source.system":{"name":"source.system","displayName":"source.system","identifiesControllerService":false,"sensitive":false},"hdfs.metadata.dir":{"name":"hdfs.metadata.dir","displayName":"hdfs.metadata.dir","identifiesControllerService":false,"sensitive":false},"run.date":{"name":"run.date","displayName":"run.date","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"hdfs.raw.base":{"name":"hdfs.raw.base","displayName":"hdfs.raw.base","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"a1beca6c-cee1-3b5c-9574-f3d1ec1545ad","instanceIdentifier":"41e7bf2e-019e-1000-eee3-ac13c9733972","name":"Extract STRING File Attributes","comments":"","position":{"x":-640.0,"y":280.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"download.url":"$.url","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","description":"$.description","Null Value Representation":"empty string","hdfs.subdir":"$.hdfs_subdir","target.filename":"$.filename","tax_id":"$.tax_id","Path Not Found Behavior":"ignore","string_version":"$.string_version","species":"$.species","dataset":"$.dataset"},"propertyDescriptors":{"download.url":{"name":"download.url","displayName":"download.url","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"hdfs.subdir":{"name":"hdfs.subdir","displayName":"hdfs.subdir","identifiesControllerService":false,"sensitive":false},"target.filename":{"name":"target.filename","displayName":"target.filename","identifiesControllerService":false,"sensitive":false},"tax_id":{"name":"tax_id","displayName":"tax_id","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"string_version":{"name":"string_version","displayName":"string_version","identifiesControllerService":false,"sensitive":false},"species":{"name":"species","displayName":"species","identifiesControllerService":false,"sensitive":false},"dataset":{"name":"dataset","displayName":"dataset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"66b5cdd2-c2ec-34c5-bd52-0e5f25431b78","instanceIdentifier":"4372655c-019e-1000-2ba9-2a620c6bb2e1","name":"Put STRING Error To HDFS","comments":"","position":{"x":0.0,"y":-912.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.1"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/hadoop/etc/hadoop/core-site.xml,/opt/hadoop/etc/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"${hdfs.error.dir}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"af4e7046-f9b6-3f9e-8c81-ab089ee84cfb","instanceIdentifier":"4208ea63-019e-1000-60ec-e9a730816579","name":"Build STRING File Index JSON.","comments":"","position":{"x":616.0,"y":296.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"dataset, tax_id, species, string_version, download.url, target.filename, hdfs.raw.dir, hdfs.full.path, description, source.system, ingest.layer, ingest.status, ingest.finished_at, invokehttp.status.code, invokehttp.status.message","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"38a67eab-2c71-3bf0-9b6e-dce9f4c81f46","instanceIdentifier":"4218b713-019e-1000-384e-fdd22f93fcb8","name":"","source":{"id":"af4e7046-f9b6-3f9e-8c81-ab089ee84cfb","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Build STRING File Index JSON.","comments":"","instanceIdentifier":"4208ea63-019e-1000-60ec-e9a730816579"},"destination":{"id":"0f55f146-4269-3116-9f94-8d928c4c65d5","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set Metadata Filename","comments":"","instanceIdentifier":"421807b0-019e-1000-d0df-a6d6ebb61d31"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"58329599-9232-3882-b016-e6117fa2da1d","instanceIdentifier":"43727658-019e-1000-8474-307ed9c6297d","name":"","source":{"id":"ca85449e-2a0c-3890-a15e-0e36e9b03409","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Build STRING Error JSON","comments":"","instanceIdentifier":"43726460-019e-1000-91d6-3a192b0a7295"},"destination":{"id":"66b5cdd2-c2ec-34c5-bd52-0e5f25431b78","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Put STRING Error To HDFS","comments":"","instanceIdentifier":"4372655c-019e-1000-2ba9-2a620c6bb2e1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"5098f9e7-c699-3b1c-8343-ef8d60a00f61","instanceIdentifier":"4217cbfc-019e-1000-c652-d68ecdddf00d","name":"","source":{"id":"8a0fdbdd-8863-3bd0-9175-dc9080ddf67a","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Put STRING Raw File To HDFS","comments":"","instanceIdentifier":"41f9e939-019e-1000-ae3b-947a1d3f2ce5"},"destination":{"id":"af4e7046-f9b6-3f9e-8c81-ab089ee84cfb","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Build STRING File Index JSON.","comments":"","instanceIdentifier":"4208ea63-019e-1000-60ec-e9a730816579"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"4227b594-e091-3fea-a4e2-551fabf75c33","instanceIdentifier":"41ef7fff-019e-1000-7717-f6f8dd8493f8","name":"","source":{"id":"70ca871c-2f04-3f31-afd8-4e10f776bf90","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set STRING HDFS Paths","comments":"","instanceIdentifier":"41ec5a89-019e-1000-1151-1db6a26eac58"},"destination":{"id":"3b11617f-04f6-3624-b65f-0e225132c2f3","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Download STRING File","comments":"","instanceIdentifier":"41ef73b9-019e-1000-1528-f072d19eda0d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"a16468b9-9d64-3f60-bca7-e0891746303b","instanceIdentifier":"41e7f53c-019e-1000-170e-7b008af4cf9f","name":"","source":{"id":"907f5e79-5414-3f4f-a172-3db6a5600793","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Split STRING Manifest Rows","comments":"","instanceIdentifier":"41e67f83-019e-1000-3a8e-cbf7a9241c0f"},"destination":{"id":"a1beca6c-cee1-3b5c-9574-f3d1ec1545ad","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Extract STRING File Attributes","comments":"","instanceIdentifier":"41e7bf2e-019e-1000-eee3-ac13c9733972"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"df82dc9e-7de7-3647-9305-19cf626970fe","instanceIdentifier":"437273e5-019e-1000-6ec3-a10765f8866d","name":"","source":{"id":"b5ac6347-aafe-3295-a535-f2fde55da7b3","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Check HTTP Status","comments":"","instanceIdentifier":"41f6a388-019e-1000-322e-b60c9c4a12fb"},"destination":{"id":"27342553-d0c6-3651-9045-e3f378952283","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set STRING Error Metadata","comments":"","instanceIdentifier":"437262a5-019e-1000-136c-b73770bcbd4b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["http_not_200","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"f7df1286-1338-300e-94f2-8c995da0c5ce","instanceIdentifier":"42217203-019e-1000-7870-5225a1f175d9","name":"","source":{"id":"a1beca6c-cee1-3b5c-9574-f3d1ec1545ad","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Extract STRING File Attributes","comments":"","instanceIdentifier":"41e7bf2e-019e-1000-eee3-ac13c9733972"},"destination":{"id":"70ca871c-2f04-3f31-afd8-4e10f776bf90","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set STRING HDFS Paths","comments":"","instanceIdentifier":"41ec5a89-019e-1000-1151-1db6a26eac58"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"4d7c3505-637b-3a5f-977c-df3eed4f6d86","instanceIdentifier":"421acdcb-019e-1000-2589-b8e1de5f36ce","name":"","source":{"id":"0f55f146-4269-3116-9f94-8d928c4c65d5","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set Metadata Filename","comments":"","instanceIdentifier":"421807b0-019e-1000-d0df-a6d6ebb61d31"},"destination":{"id":"0f654f01-627e-3af1-8d80-81ea84323d32","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Put STRING File Index To HDFS","comments":"","instanceIdentifier":"421a993e-019e-1000-a449-b94aa6a4013a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"7d611194-5648-33af-9216-600829e548b1","instanceIdentifier":"41f87264-019e-1000-815c-87ad8cc8cd44","name":"","source":{"id":"b5ac6347-aafe-3295-a535-f2fde55da7b3","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Check HTTP Status","comments":"","instanceIdentifier":"41f6a388-019e-1000-322e-b60c9c4a12fb"},"destination":{"id":"897fde51-d365-3efb-a664-712f9244732d","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set Final STRING Filename","comments":"","instanceIdentifier":"41f810ac-019e-1000-b6e2-5a149de540a9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["http_200"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"1824b4d2-55c0-3e2b-beac-65a1e55e20f0","instanceIdentifier":"41fa02a1-019e-1000-4cfd-ba6770244c4e","name":"","source":{"id":"897fde51-d365-3efb-a664-712f9244732d","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set Final STRING Filename","comments":"","instanceIdentifier":"41f810ac-019e-1000-b6e2-5a149de540a9"},"destination":{"id":"8a0fdbdd-8863-3bd0-9175-dc9080ddf67a","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Put STRING Raw File To HDFS","comments":"","instanceIdentifier":"41f9e939-019e-1000-ae3b-947a1d3f2ce5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"93d818fc-9bd5-354a-b8c6-a559c4aec006","instanceIdentifier":"43727511-019e-1000-9202-0dd2d7426605","name":"","source":{"id":"27342553-d0c6-3651-9045-e3f378952283","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set STRING Error Metadata","comments":"","instanceIdentifier":"437262a5-019e-1000-136c-b73770bcbd4b"},"destination":{"id":"ca85449e-2a0c-3890-a15e-0e36e9b03409","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Build STRING Error JSON","comments":"","instanceIdentifier":"43726460-019e-1000-91d6-3a192b0a7295"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"f616f14c-3d9a-3406-8d22-2c8869dd0810","instanceIdentifier":"41e6df95-019e-1000-8363-c086fed88103","name":"","source":{"id":"f3a1afa7-0db8-3bb0-9ad1-56881ec1d444","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Generate STRING Download Manifest","comments":"","instanceIdentifier":"41e06fca-019e-1000-e309-807a85c77079"},"destination":{"id":"907f5e79-5414-3f4f-a172-3db6a5600793","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Split STRING Manifest Rows","comments":"","instanceIdentifier":"41e67f83-019e-1000-3a8e-cbf7a9241c0f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"71308134-8789-3316-8c7c-a69049df14db","instanceIdentifier":"43727219-019e-1000-0ec3-ae5dccb0aee0","name":"","source":{"id":"3b11617f-04f6-3624-b65f-0e225132c2f3","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Download STRING File","comments":"","instanceIdentifier":"41ef73b9-019e-1000-1528-f072d19eda0d"},"destination":{"id":"27342553-d0c6-3651-9045-e3f378952283","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Set STRING Error Metadata","comments":"","instanceIdentifier":"437262a5-019e-1000-136c-b73770bcbd4b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"},{"identifier":"a3047cf2-d0b3-3a8d-98bb-eb8dcda012ff","instanceIdentifier":"41f6e52e-019e-1000-dd44-c09557f4882c","name":"","source":{"id":"3b11617f-04f6-3624-b65f-0e225132c2f3","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Download STRING File","comments":"","instanceIdentifier":"41ef73b9-019e-1000-1528-f072d19eda0d"},"destination":{"id":"b5ac6347-aafe-3295-a535-f2fde55da7b3","type":"PROCESSOR","groupId":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619","name":"Check HTTP Status","comments":"","instanceIdentifier":"41f6a388-019e-1000-322e-b60c9c4a12fb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3dddcd20-cf3c-3e16-ab8e-4892b46f9619"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}